import Config

# configure s3
config :epochtalk_server, EpochtalkServer.S3,
  expire_after_hours: 1,
  min_size_mb: 1_048_576,
  max_size_mb: 10_485_760,
  virtual_host: true,
  bucket: "example-bucket",
  path: "images/"
